.header {
  border-bottom: 1px solid #000000;
}

#logo {
  font-size: 20px;
  font-family: "Time New Roman";
  background: -webkit-linear-gradient(rgb(90, 44, 44), rgb(17, 28, 90));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#C {
  font-size: 30px;
}

#RI {
  font-size: 30px;
}
.lsbtn {
  float: right;
}
