.header {
  min-height: 56px;
}

#logo {
  display: none;
}

@media only screen and (max-width: 760px) {
  #logo {
    font-size: 20px;
    display: block;
    font-family: "Time New Roman";
    margin-top: 4px;
    background: -webkit-linear-gradient(rgb(90, 44, 44), rgb(17, 28, 90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header {
    flex-wrap: wrap;
    align-content: center;
  }
}

#C {
  font-size: 30px;
}

#RI {
  font-size: 30px;
}
