.txt1 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}
.flex-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.bg1 {
  background-color: #3b5998;
}
.bg2 {
  background-color: #1da1f2;
}
.bg3 {
  background-color: #ea4335;
}

.login100-social-item:hover {
  color: #fff;
  background-color: #333333;
}

.login100-social-item {
  font-size: 25px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}

.flex-col-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.p-t-50 {
  padding-top: 50px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-t-106 {
  padding-top: 106px;
}
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}
.pass-wrapper {
  position: relative;
}

.pash {
  position: absolute;
  left: auto;
  top: 40px;
  text-indent: 32px;
  right: 10px;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  text-align: center;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#loginButton {
  width: 100%;
  border-radius: 5px;
}

.wrap-login100 {
  width: 350px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}
.error-message {
  background: rgb(255, 249, 242);
  border: 1px solid #a9b3b6;
  border-radius: 5px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

.error-message-title {
  color: #ff4545;
  margin-top: 4px;
}

.error-message-description {
  color: #ff4545;
}
